{% extends 'base.html.twig' %}

{% block meta %}
    {# register new webgpu token at https://developer.chrome.com/origintrials/#/trials/active #}
    <meta http-equiv="origin-trial" content="{{ app.request.server.get("CHROME_WEBGPU_KEY") }}"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('webgpu') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('webgpu') }}
{% endblock %}

{% block body %}
    <div>
        <h1>WebGPU</h1>
        <canvas id="webgpu-canvas"></canvas>
    </div>
{% endblock %}